<h1> Guided lab: Regression Models with Keras</h1>

Objective for this Notebook

- How to use the Tensorflow API, Keras, to build a regression model.
- Download and Clean dataset
- Build a Neural Network
- Train and Test the Network

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [11]:
from tensorflow import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [14]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [15]:
# build the model
model = regression_model()

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Now we will split our data into training and testing with a 70%-30% split (test_size=0.3).   

70% of our data will be used for training :

X_train : Our training data containing the variables the model will use to learn how to predict.

y_train : Our training data containing the labels.

#
30% of our data will be used for testing its performance metrics :

X_test : Unseen data by the model, we will use it to make predictions with our trained model.

y_test : The labels associated with X_test data, we will compare them with the predictions that our model provided as output when shown X_test and that way we will obtain performance metrics.

In [16]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

Next, we will train the model using the *fit* method. We will train the model for 100 epochs.

In [19]:
# fit the model
model.fit(X_train, y_train, epochs=100, verbose=2)

Epoch 1/100
23/23 - 0s - 1ms/step - loss: 36.8878
Epoch 2/100
23/23 - 0s - 1ms/step - loss: 36.4671
Epoch 3/100
23/23 - 0s - 1ms/step - loss: 35.7429
Epoch 4/100
23/23 - 0s - 1ms/step - loss: 34.7099
Epoch 5/100
23/23 - 0s - 1ms/step - loss: 34.4584
Epoch 6/100
23/23 - 0s - 1ms/step - loss: 34.1251
Epoch 7/100
23/23 - 0s - 1ms/step - loss: 34.0632
Epoch 8/100
23/23 - 0s - 1ms/step - loss: 33.5290
Epoch 9/100
23/23 - 0s - 1ms/step - loss: 33.0816
Epoch 10/100
23/23 - 0s - 1ms/step - loss: 32.7817
Epoch 11/100
23/23 - 0s - 1ms/step - loss: 32.8995
Epoch 12/100
23/23 - 0s - 1ms/step - loss: 32.2396
Epoch 13/100
23/23 - 0s - 1ms/step - loss: 31.8208
Epoch 14/100
23/23 - 0s - 1ms/step - loss: 31.6025
Epoch 15/100
23/23 - 0s - 1ms/step - loss: 31.6271
Epoch 16/100
23/23 - 0s - 1ms/step - loss: 31.1039
Epoch 17/100
23/23 - 0s - 1ms/step - loss: 31.5896
Epoch 18/100
23/23 - 0s - 1ms/step - loss: 31.0564
Epoch 19/100
23/23 - 0s - 1ms/step - loss: 30.7568
Epoch 20/100
23/23 - 0s - 2ms/step - loss: 30.1724
Epoch 21/100
23/23 - 0s - 1ms/step - loss: 30.1002
Epoch 22/100
23/23 - 0s - 1ms/step - loss: 29.9926
Epoch 23/100
23/23 - 0s - 1ms/step - loss: 29.4916
Epoch 24/100
23/23 - 0s - 1ms/step - loss: 28.8900
Epoch 25/100
23/23 - 0s - 1ms/step - loss: 29.0493
Epoch 26/100
23/23 - 0s - 1ms/step - loss: 28.4494
Epoch 27/100
23/23 - 0s - 1ms/step - loss: 28.2722
Epoch 28/100
23/23 - 0s - 1ms/step - loss: 28.2489
Epoch 29/100
23/23 - 0s - 1ms/step - loss: 28.4821
Epoch 30/100
23/23 - 0s - 1ms/step - loss: 27.9645
Epoch 31/100
23/23 - 0s - 1ms/step - loss: 27.5681
Epoch 32/100
23/23 - 0s - 1ms/step - loss: 27.1498
Epoch 33/100
23/23 - 0s - 1ms/step - loss: 27.4191
Epoch 34/100
23/23 - 0s - 1ms/step - loss: 27.1198
Epoch 35/100
23/23 - 0s - 1ms/step - loss: 26.5662
Epoch 36/100
23/23 - 0s - 1ms/step - loss: 26.7575
Epoch 37/100
23/23 - 0s - 1ms/step - loss: 26.3409
Epoch 38/100
23/23 - 0s - 1ms/step - loss: 26.1899
Epoch 39/100
23/23 - 0s - 1ms/step - loss: 26.2260
Epoch 40/100
23/23 - 0s - 1ms/step - loss: 25.9291
Epoch 41/100
23/23 - 0s - 1ms/step - loss: 26.2774
Epoch 42/100
23/23 - 0s - 1ms/step - loss: 25.5153
Epoch 43/100
23/23 - 0s - 2ms/step - loss: 25.5442
Epoch 44/100
23/23 - 0s - 2ms/step - loss: 25.2087
Epoch 45/100
23/23 - 0s - 1ms/step - loss: 25.2385
Epoch 46/100
23/23 - 0s - 1ms/step - loss: 24.8248
Epoch 47/100
23/23 - 0s - 1ms/step - loss: 24.4494
Epoch 48/100
23/23 - 0s - 2ms/step - loss: 24.4997
Epoch 49/100
23/23 - 0s - 1ms/step - loss: 24.1704
Epoch 50/100
23/23 - 0s - 1ms/step - loss: 24.4325
Epoch 51/100
23/23 - 0s - 1ms/step - loss: 24.3855
Epoch 52/100
23/23 - 0s - 1ms/step - loss: 23.7274
Epoch 53/100
23/23 - 0s - 1ms/step - loss: 23.8205
Epoch 54/100
23/23 - 0s - 1ms/step - loss: 23.2110
Epoch 55/100
23/23 - 0s - 1ms/step - loss: 23.2619
Epoch 56/100
23/23 - 0s - 1ms/step - loss: 23.2588
Epoch 57/100
23/23 - 0s - 1ms/step - loss: 23.1767
Epoch 58/100
23/23 - 0s - 1ms/step - loss: 22.8577
Epoch 59/100
23/23 - 0s - 1ms/step - loss: 22.8078
Epoch 60/100
23/23 - 0s - 1ms/step - loss: 22.8494
Epoch 61/100
23/23 - 0s - 1ms/step - loss: 22.6033
Epoch 62/100
23/23 - 0s - 1ms/step - loss: 22.0471
Epoch 63/100
23/23 - 0s - 1ms/step - loss: 22.3619
Epoch 64/100
23/23 - 0s - 1ms/step - loss: 22.2998
Epoch 65/100
23/23 - 0s - 1ms/step - loss: 22.2898
Epoch 66/100
23/23 - 0s - 1ms/step - loss: 21.8879
Epoch 67/100
23/23 - 0s - 1ms/step - loss: 21.5747
Epoch 68/100
23/23 - 0s - 1ms/step - loss: 21.3853
Epoch 69/100
23/23 - 0s - 1ms/step - loss: 21.4126
Epoch 70/100
23/23 - 0s - 1ms/step - loss: 21.0206
Epoch 71/100
23/23 - 0s - 1ms/step - loss: 20.9604
Epoch 72/100
23/23 - 0s - 1ms/step - loss: 21.0730
Epoch 73/100
23/23 - 0s - 1ms/step - loss: 21.0321
Epoch 74/100
23/23 - 0s - 1ms/step - loss: 21.2256
Epoch 75/100
23/23 - 0s - 1ms/step - loss: 21.5451
Epoch 76/100
23/23 - 0s - 1ms/step - loss: 20.5532
Epoch 77/100
23/23 - 0s - 1ms/step - loss: 20.6160
Epoch 78/100
23/23 - 0s - 1ms/step - loss: 20.4238
Epoch 79/100
23/23 - 0s - 2ms/step - loss: 20.3839
Epoch 80/100
23/23 - 0s - 1ms/step - loss: 20.0573
Epoch 81/100
23/23 - 0s - 1ms/step - loss: 20.3458
Epoch 82/100
23/23 - 0s - 1ms/step - loss: 19.8818
Epoch 83/100
23/23 - 0s - 1ms/step - loss: 19.7433
Epoch 84/100
23/23 - 0s - 1ms/step - loss: 19.6350
Epoch 85/100
23/23 - 0s - 1ms/step - loss: 19.7217
Epoch 86/100
23/23 - 0s - 1ms/step - loss: 19.9854
Epoch 87/100
23/23 - 0s - 1ms/step - loss: 19.7021
Epoch 88/100
23/23 - 0s - 1ms/step - loss: 19.4007
Epoch 89/100
23/23 - 0s - 1ms/step - loss: 19.3691
Epoch 90/100
23/23 - 0s - 1ms/step - loss: 19.5652
Epoch 91/100
23/23 - 0s - 1ms/step - loss: 19.1416
Epoch 92/100
23/23 - 0s - 1ms/step - loss: 19.3974
Epoch 93/100
23/23 - 0s - 1ms/step - loss: 19.0131
Epoch 94/100
23/23 - 0s - 1ms/step - loss: 18.6230
Epoch 95/100
23/23 - 0s - 1ms/step - loss: 18.9910
Epoch 96/100
23/23 - 0s - 1ms/step - loss: 18.6253
Epoch 97/100
23/23 - 0s - 1ms/step - loss: 19.0523
Epoch 98/100
23/23 - 0s - 1ms/step - loss: 18.5877
Epoch 99/100
23/23 - 0s - 1ms/step - loss: 18.5974
Epoch 100/100
23/23 - 0s - 1ms/step - loss: 18.1897

### Now lets evaluate our model and get performance metrics !

First, since our model only saw the training data and learned from it, we will make predictions on the unseen test set.

y_pred are the predictions that our model generated from it's experience when shown the predictor variables of X_test.

That way we can compare y_pred (predictions made by our model) with y_test (the real labels of X_test) and see the difference as performance metrics.

In [21]:
# Make predictions on the test set
y_pred = model.predict(X_test)

print(y_pred)

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
[[49.148273 ]
 [41.919556 ]
 [73.88489  ]
 [37.009586 ]
 [10.517466 ]
 [47.38465  ]
 [28.02279  ]
 [55.480587 ]
 [36.737713 ]
 [44.395424 ]
 [35.257187 ]
 [11.1215   ]
 [48.663948 ]
 [39.164406 ]
 [26.271183 ]
 [23.267351 ]
 [35.852005 ]
 [18.522327 ]
 [35.61833  ]
 [30.02516  ]
 [35.54825  ]
 [43.066193 ]
 [45.38877  ]
 [10.499597 ]
 [31.744091 ]
 [39.695713 ]
 [ 8.6166   ]
 [47.70857  ]
 [54.269794 ]
 [15.3789   ]
 [40.985245 ]
 [37.128643 ]
 [49.902443 ]
 [57.69473  ]
 [17.701818 ]
 [39.10597  ]
 [35.542107 ]
 [44.04312  ]
 [ 9.995124 ]
 [48.100105 ]
 [15.129813 ]
 [ 5.8859024]
 [37.414387 ]
 [52.77767  ]
 [13.809072 ]
 [73.81884  ]
 [47.763805 ]
 [35.90742  ]
 [26.434517 ]
 [ 7.8123846]
 [51.75686  ]
 [42.583    ]
 [26.18281  ]
 [12.997296 ]
 [45.903347 ]
 [38.467007 ]
 [27.585049 ]
 [11.110935 ]
 [38.182076 ]
 [19.792988 ]
 [44.352356 ]
 [16.870201 ]
 [38.092213 ]
 [45.040154 ]
 [29.368608 ]
 [15.369357 ]
 [36.936005 ]
 [13.396928 ]
 [33.655552 ]
 [23.392605 ]
 [11.314448 ]
 [26.620674 ]
 [ 7.761435 ]
 [35.14291  ]
 [30.505611 ]
 [ 9.720568 ]
 [48.792446 ]
 [54.207333 ]
 [63.387035 ]
 [10.119789 ]
 [48.211956 ]
 [35.284695 ]
 [37.889393 ]
 [35.054493 ]
 [46.4278   ]
 [37.009586 ]
 [33.699768 ]
 [38.51625  ]
 [25.076532 ]
 [19.091164 ]
 [30.94322  ]
 [71.4899   ]
 [14.473234 ]
 [52.85803  ]
 [44.21858  ]
 [47.06613  ]
 [25.03244  ]
 [36.793934 ]
 [19.038263 ]
 [34.332027 ]
 [25.033262 ]
 [44.75169  ]
 [42.635925 ]
 [23.724827 ]
 [80.20862  ]
 [ 9.726079 ]
 [57.311184 ]
 [34.073456 ]
 [38.661983 ]
 [63.80253  ]
 [58.59755  ]
 [47.9196   ]
 [29.623241 ]
 [41.512432 ]
 [33.909924 ]
 [55.991116 ]
 [17.72158  ]
 [32.796688 ]
 [55.72506  ]
 [44.26807  ]
 [18.172594 ]
 [28.24083  ]
 [50.036945 ]
 [38.88246  ]
 [21.710005 ]
 [40.41694  ]
 [53.894985 ]
 [41.76935  ]
 [42.268227 ]
 [36.850216 ]
 [11.071373 ]
 [33.61073  ]
 [16.254917 ]
 [73.3726   ]
 [ 8.494359 ]
 [43.467747 ]
 [31.24453  ]
 [39.461235 ]
 [20.512047 ]
 [36.04265  ]
 [28.589577 ]
 [38.14765  ]
 [17.83564  ]
 [31.531559 ]
 [52.050034 ]
 [40.81704  ]
 [28.250145 ]
 [12.110674 ]
 [ 6.8329554]
 [15.67396  ]
 [41.260525 ]
 [15.532448 ]
 [35.933743 ]
 [23.148483 ]
 [48.457573 ]
 [42.46053  ]
 [30.62547  ]
 [72.92696  ]
 [41.919556 ]
 [49.908157 ]
 [12.895756 ]
 [47.93504  ]
 [32.065895 ]
 [48.237137 ]
 [37.795246 ]
 [61.80398  ]
 [45.59778  ]
 [23.337444 ]
 [37.43876  ]
 [24.331808 ]
 [44.976715 ]
 [12.864186 ]
 [20.286797 ]
 [38.50358  ]
 [30.205908 ]
 [11.082863 ]
 [29.03633  ]
 [50.223648 ]
 [50.63887  ]
 [35.557606 ]
 [36.13712  ]
 [26.704996 ]
 [63.632744 ]
 [36.82749  ]
 [44.441715 ]
 [46.771988 ]
 [22.184408 ]
 [37.833538 ]
 [32.524834 ]
 [14.519918 ]
 [31.293533 ]
 [50.28038  ]
 [42.278763 ]
 [35.8827   ]
 [30.253323 ]
 [27.802114 ]
 [53.534107 ]
 [15.502848 ]
 [21.290693 ]
 [23.341108 ]
 [40.03328  ]
 [55.991116 ]
 [19.613432 ]
 [35.163174 ]
 [63.144604 ]
 [36.715034 ]
 [29.161596 ]
 [55.418114 ]
 [26.04688  ]
 [37.138054 ]
 [12.969589 ]
 [26.216337 ]
 [25.08229  ]
 [48.00506  ]
 [37.821465 ]
 [ 3.9875946]
 [11.55132  ]
 [36.50543  ]
 [22.721634 ]
 [67.2902   ]
 [29.840725 ]
 [57.278767 ]
 [52.71143  ]
 [18.51775  ]
 [47.633293 ]
 [20.957293 ]
 [41.7721   ]
 [22.292004 ]
 [22.497124 ]
 [27.726004 ]
 [10.077141 ]
 [ 9.424915 ]
 [40.244854 ]
 [42.276737 ]
 [36.240147 ]
 [33.112785 ]
 [31.434204 ]
 [28.616432 ]
 [48.264545 ]
 [16.37286  ]
 [30.764145 ]
 [38.09429  ]
 [53.796867 ]
 [29.506165 ]
 [71.7749   ]
 [33.814583 ]
 [79.32624  ]
 [18.069431 ]
 [47.508682 ]
 [63.010925 ]
 [37.63279  ]
 [39.810017 ]
 [40.031223 ]
 [29.621223 ]
 [38.39328  ]
 [16.252377 ]
 [32.146885 ]
 [18.862494 ]
 [21.515968 ]
 [27.00609  ]
 [17.43048  ]
 [52.870144 ]
 [22.574665 ]
 [32.364105 ]
 [12.737974 ]
 [61.045982 ]
 [56.233196 ]
 [29.943493 ]
 [34.8095   ]
 [44.745567 ]
 [16.615904 ]
 [15.921589 ]
 [22.572176 ]
 [31.414518 ]
 [31.553661 ]
 [37.795246 ]
 [33.795086 ]
 [20.587433 ]
 [41.635628 ]
 [30.680614 ]
 [36.835926 ]
 [27.38677  ]
 [10.8658905]
 [39.09815  ]
 [20.277218 ]
 [19.729069 ]
 [44.7735   ]
 [17.742134 ]
 [41.284145 ]
 [33.910168 ]
 [33.729923 ]
 [20.87546  ]
 [34.71462  ]
 [13.658371 ]
 [30.081003 ]
 [31.950924 ]
 [23.6565   ]
 [19.825443 ]
 [18.546913 ]
 [23.309492 ]
 [13.252853 ]
 [10.957291 ]
 [56.667404 ]
 [66.73355  ]
 [21.717014 ]
 [40.854443 ]
 [30.192924 ]
 [38.78582  ]
 [56.824165 ]]

Since this is a regression model we will be using mean squared error, mean absolute error and the r squared score to evaluate it.

In [24]:
# Calculate and print regression metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse:.4f}')
print(f'Mean Absolute Error (MAE): {mae:.4f}')
print(f'R² Score: {r2:.4f}')

Mean Squared Error (MSE): 30.4511
Mean Absolute Error (MAE): 4.0764
R² Score: 0.8875

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

For other models, other types of performance metrics are more meaningfull. It all depends on context and the end goal of the model. 

Research, planning and analysing various metrics with a clearly defined end goal is key to understanding how capable a model is and what are his limitations.

Keep that in mind when tackling the next exercises!

### Thank you for following this tutorial!